.center {
  justify-content: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.align-items-center {
  align-items: center;
}

.vertical-align {
  position: relative;
  transform: translateY(25%);
}

.icon {
  max-width: 80%;
  width: 200px;
  height: auto;
}

.error {
  color: brown;
}

.notification {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  opacity: 0.9;
  z-index: 10;
  width: 100%;
  position: absolute;
}