.center {
  justify-content: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.align-items-center {
  align-items: center;
}

.vertical-align {
  position: relative;
  transform: translateY(25%);
}

.icon {
  max-width: 80%;
  width: 200px;
  height: auto;
}
